// FONTS
$main-font: 'Nunito Sans', sans-serif;

// COLORS
$color-white: hsl(0, 0%, 100%); // dark mode text & light mode elements
$color-light: hsl(0, 0%, 97%); // light mode background

$color-black: hsl(200, 15%, 8%); // light mode text
$color-grey: hsl(0, 0%, 52%); // light mode input

$color-dark-1: hsl(209, 23%, 22%); // dark mode elements
$color-dark-2: hsl(207, 26%, 17%); // dark mode background

