.nav {
  padding: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &__search-box {
    position: relative;
  }

  &__search {
    color: $color-grey;
    background-color: $color-white;
    font-size: 1.7rem;
    font-family: $main-font;
    padding: 1rem 1rem 1rem 4rem;
    width: 26rem;
    outline: none;
    border: none;
    border-radius: .75rem;
    box-shadow: 0 .5rem 1rem rgba($color-grey, .2);
  }

  &__search-btn {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: $color-grey;
  }

  &__region-box {
    position: relative;

    @media (max-width: 600px) {
      margin-top: 1rem;
      
    }
  }

  &__toggle {
    position: relative;
    color: $color-black;
    background-color: $color-white;
    padding: 1rem 1.5rem;
    width: 17rem;
    border-radius: .75rem;
    box-shadow: 0 .5rem 1rem rgba($color-grey, .2);
    cursor: pointer;

    @media (max-width: 600px) {
      width: 26rem;
    }

    i {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }
  }

  &__region-name {
    font-size: 1.5rem;
  }

  &__region-options {
    display: none; // we will change this to 'display: flex' using JS
    flex-direction: column;

    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: .5rem 0;
    background-color: $color-white;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba($color-grey, .2);
  }

  &__region {
    text-decoration: none;
    color: $color-black;
    padding: .5rem 2rem;
    background-color: $color-white;

    &:hover {
      background-color: $color-light;
    }
  }
}