@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/card';

@import 'layout/header';
@import 'layout/navigation';

@import 'pages/details';
@import 'pages/home';

